body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color:#FEFAEF ;
    border: 1px solid;
    width: 600px;
    height: 850px;
    text-align: center;

}

.cookie{
    width: 600px;
    height:400px;
}

img{
 max-height: 50vh;
    max-width: 50vh;
    margin-block-start: 100px;
}

.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-weight: 400;
    margin-inline-start: 30px;
}

.ingredients{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 /* word-spacing: 10px; */
 display:inline-block;
 align-content: left;
 margin-inline-start: 15px;
}

.milk{
    border: 1px solid;
    border-radius: 1rem;
    width: 70px;
    height: 30px;
    background-color: #E9D9C9;
    text-align: center;
    border-color: #E9D9C9;
    font-weight: 400;
}
.eggs{
    border: 1px solid;
    border-radius: 1rem;
    width: 70px;
    height: 30px;
    background-color: #E9D9C9;
    text-align: center;
    border-color: #E9D9C9;
    font-weight: 400;
}
.choco{
    border: 1px solid;
    border-radius: 1rem;
    width: 70px;
    height: 30px;
    background-color: #E9D9C9;
    text-align: center;
    border-color: #E9D9C9;
    font-weight: 400;
}

.group-text{
  text-align: left;
}