#number1 {
  color: green;
}
#number2 {
  color: orange;
}
#number3 {
  color: pink;
}
#number4 {
  color: orange;
}
#number5 {
  color: green;
}
#number6 {
  color: pink;
}
#number7 {
  color: green;
}
#number8 {
  color: orange;
}
#number9 {
  color: pink;
}
.ABCD {
  color: purple;
}
.EFGHIJ {
  color: brown;
}
