/* #number1 {
  color: green;
}
#number2 {
  color: orange;
}
#number3 {
  color: pink;
}
#number4 {
  color: orange;
}
#number5 {
  color: green;
}
#number6 {
  color: pink;
}
#number7 {
  color: green;
}
#number8 {
  color: orange;
}
#number9 {
  color: pink;
}
.ABCD {
  color: purple;
}
.EFGHIJ {
  color: brown;
} */

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-spacing: 10px;
}

th,
td {
  
  padding: 8px 10px;
}

.progress{
  background-color: green;
  color: white;
}

.open{
  background-color: orange;
  color: black;
}

.on-hold{
  background-color: red;
  color: white;
}

.gray{
  background-color: lightgray;
}

