img {
  max-width: 100%;
  display: block;
  width: 240px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  background-color: lightsteelblue;
}

body {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 4fr 1fr;
  max-height: 100vh;
}

header {
  border: 2px solid;
  background-color: beige;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

footer {
  border: 2px solid;
  background-color: beige;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

html {
  font-family: "Science Gothic", sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

article p {
  text-align: center;
}
