body{
    /* background-color: white; */
    font-family: monospace;
}

header{
    color: gray;
}

#terminal{
    color: white;

}


ul{
    margin-inline-start: 15px;
     margin-inline-end: 10px;
}

.words{
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}


main{
    
    color: white;
    font-family: monospace;
}

.green {
    color: lightgreen;
}
.blue{
    color:lightskyblue
}

.dot{
border-radius: 50%;
width: 10px;
height: 10px;
background-color: lightblue;
display: inline-block;
}

.card{
    height: 600px;
    width: 800px;
    background-color: black;
}

.gray{
    background-color: gray;
}