body{
    display:grid;
    justify-content: center;
}
.container{
    max-width: 100vh;
  max-height: 100vh;
}
h1{
    text-decoration-line: underline;
    text-align: center;
    font-size: 3rem;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: darkred
}


.box{
    background-color: #FFF1D6;
    margin-block-start: 1rem;
    width: 10rem;
    border-radius: 5px;
    border: 2px solid;
     padding-block-start: 6px;
   padding-block-end: 6px;
   padding-inline-start: 6px;
   padding-inline-end: 6px;
}

span{
    color:red;
    font-weight: bolder;
}

.header{
    font-weight: 700;
    background-color: #FFE44D;
    font-family: sans-serif
}

.font-family{
    font-family: monospace;
}

.font-style{
font-style: italic;   
}

.font-size{
    font-size: xx-large;
}

.font-weight{
    font-weight: 500;
}

.google-fonts{
    font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
}

.font-variant{
    font-variant: small-caps;
}

.column{
    display: inline-block;
}

/* .separated{
    margin-block-start: 113px
} */