
/* .container{
   justify-content: center;
   align-items: center;
   width: 1000px;
   height: 1000px;
   display: flex;
} */

html{
    display: flex;
    justify-content: center;
    margin-block-start: 300px;
}

button{
    border-radius: 30px;
    height: 900px;
    width: 900px;
    font-size: 50px;
    font-family: monospace;
    
}

button:hover{
    background-color: orange;
    transition: 1s;
}